[submodule "3party/protobuf/protobuf"]
	path = 3party/protobuf/protobuf
	url = git://github.com/mapsme/protobuf.git
[submodule "tools/osmctools"]
	path = tools/osmctools
	url = git://github.com/mapsme/osmctools.git
